/* Course Site */

body {
    background: #da98b6;    /*Background color*/
    color: #1f2937;        /*Sets default color */
    font-family:  "Trebuchet MS", Arial, sans-serif; /*body font*/
    line-height: 1.6;
    margin: 0;
}
/*Header and footer styling*/
header, footer {
    background: #ebe7df;    /*Set background color*/
    padding:1rem 1.5rem;
    font-family: "Montserrat", Arial, sans-serif;
}
/*Main content layout*/
main {
    max-width: 1000px;   /*readable width*/
    margin: 0 auto;     /*centered container*/
    padding: 1.5rem;
}
/* Spacing = proximity */
h1 {
    margin-bottom: 0.75rem;
    text-align: center;     /*Centering a heading*/
}

h2 {
    margin-top:2rem;
    margin-bottom: 0.5rem;
}

p {
    margin: 0.75rem 0;
}
/*Links*/

a {
    color: #0000EE;     /*Link colors*/
    padding: 1rem;

}
a:hover {
    color: #ff0800;     /*Hover color*/
    text-align: center;
}

nav {
    text-align: center;
    font-size: 0.9rem;
}

figure {
    text-align: center;
    margin: 1.5rem auto;
}

figure img {
    display: block;
    margin: 1rem auto;
}

figcaption { 
    font-size: 0.9rem;
    margin-top:0.5rem;
}


