<header>
  <h1>Alanah Little | Adventurous Lion</h1>

  <!-- PRIMARY NAV -->
  <nav>
    <a href="../index.html">Home</a> |
    <a href="../introduction.html">Introduction</a> |
    <a href="../itis3135/contract.html">Contract</a>
    <a href="../itis3135/">ITIS 3135</a> |
    <a href="../certifications/survey.html">Survey</a> |
    <a href="../certifications/cards.html">Cards</a> |
    <a href="../certifications/inventory.html">Inventory</a> |
    <a href="../certifications/documentation.html">Documentation</a> |
    <a href="../certifications/product.html">Product</a>
  </nav>

  <!-- SECONDARY NAV -->
  <nav>
    <span>Other Pages:</span>
    <a href="../stuff/CRAPpy%20PaGe%20🫩.HTM">Crappy Page</a>
  </nav>
</header>